
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bookify</title>
        <link rel="stylesheet" href='/styles/launchPage.css'>
        <script>
            function redirectToAuthorize() {
                window.location.href = "/authorize";
            }
        </script>
    </head>
    <body>
        <header>
            <h1>Bookify</h1>
        </header>

        <div class="login" onclick="redirectToAuthorize()">
            <h2>Spotify Login</h2>
        </div>
    </body>
</html>
