body {
    background-image: url(../images/launchPage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'Spotify Circular';
    src: url('../fonts/CircularSpotifyText-Black.otf');
}

@font-face {
    font-family: 'L Spotify Circular';
    src: url('../fonts/CircularSpotifyText-Light.otf');
}

header {
    position: absolute;
    top: 0%;
    right: 0px;
    width: 100%;
    height: 200px;
    padding: 0px;
    
    font-family: Spotify Circular;
    font-size: 50px;
    text-align: center;
    color: rgb(179, 0, 179);
    
    background: linear-gradient(to bottom, rgb(1, 1, 151), rgb(1, 1, 151), rgb(1, 1, 151), rgb(1, 1, 151), rgba(0, 0, 0, 0.0));
    
}

h1 {
    margin-top: 60px;
    line-height: 75%;
}

nav {
    position: absolute;
    top: 30%;
    left: 100px;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 400px;
    border: 5px solid rgb(37, 185, 0); /* Color and width of the outline */
    background-color: rgb(51, 50, 50);
    border-radius: 15px; /* Controls the roundness of the edges */

    font-family: Spotify Circular;
    font-size: 25px;
    text-align: center;
    color: rgb(37, 185, 0);
}

.email {
    font-size: 20px;
    text-align: left;

    margin: 20px;
    width: 20px;

    margin-bottom: 40px;
}

.password {
    font-size: 20px;
    text-align: left;

    margin: 20px;
    width: 20px;

    margin-bottom: 40px;
}

input[type="text"] {
    background: linear-gradient(to top, rgb(153, 153, 153), rgb(153, 153, 153), rgb(78, 78, 78));
    border-radius: 8px;
    width: 250px;
    height: 35px;

    font-family: L Spotify Circular;
}

input[type="submit"] {
    background: rgb(37, 185, 0);
    border-radius: 8px;
    width: 150px;
    height: 40px;

    font-family: Spotify Circular;
    text-align: center;
    font-size: 20px;
}