body {
    background-image: url(../images/launchPage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Spotify Circular';
    src: url('../fonts/CircularSpotifyText-Black.otf');
}

header {
    position: absolute;
    top: 0%;
    right: 1px;
    border: 3px solid #1ED760;
    width: 99.7%;
    height: 200px;
    padding: 0px;
    
    font-family: Spotify Circular;
    font-size: 50px;
    text-align: center;
    color: #1ED760;
    background-color: rgb(1, 1, 151);
    
}

h1 {
    vertical-align: top;
}

nav {
    font-size: 20px;
}
